/* 1.主页部分diyCSS */
#mapContainer {
  margin: 0 0 0 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  /* touch-action: none; */
  /* background-color: black; */
  display: block;
}
.clear{clear:both}
/* index右侧loop栏的自定义样式 */

/* 电子预警地图部分 */
#panelDefault, #videoDefault{
  padding: 0 0 0 0;
  box-shadow: 0px 5px 5px;
  margin-bottom: 0px;
}

/* 最大化最小化按钮 */
#minimize{
  display: inline-block;
}
#maximize{
  display: none;
}
/* 滑动窗口部分 */
#Slider01, #Slider02,#Slider03{
  width: 100%;
  height: 100%;
  border: 1px solid #797979;
}
.swiper-slider-topic{
  width: 100%;
  height: 10%;
  margin: 12px 0 0 0px;
  font-weight: bold;
}
.swiper-slider-main{
  width: 100%;
  height: 80%;
  padding: 10px 10px 0px 10px;
  background: #f5f5f5;
  /* border: 1px solid #797979; */
  border-top: 1px solid #797979;
  border-bottom: 1px solid #797979;
}

#Slider01 > .swiper-slider-main > .datas-text{
  font-size: 13px;
	padding: 7px 0px 0px 0px;
  font-weight: normal;
}

#Slider02 > .swiper-slider-main > .datas-text{
  text-align: left;
  /* font-size: 13px; */
	padding: 25px 0px 0px 25px;
  font-weight: normal;
}
#Slider02 > .swiper-slider-main{
  width: 100%;
  height: 70%;
  padding: 10px 10px 0px 10px;
  background: #f5f5f5;
  /* border: 1px solid #797979; */
  border-top: 1px solid #797979;
  border-bottom: none;
}
#Slider02 > footer{
  width: 100%;
  height: 10%;
  background: #f5f5f5;
  border-bottom: 1px solid #797979;
}
#Slider02 > footer > .showImage{
  width: 15%;
  height: 100%;
  /* background-color: black; */
  background-image: url("../img/icons/line-icon.png");
  border: none;
  box-shadow: none;
  background-color: #f5f5f5;
}
#Slider02 > footer > .showImage:hover{
   cursor: pointer;
   background-image: url("../img/icons/line-icon-hover.png");
   transition: all 0.4s;
}
#Slider02 > footer > button{
  float: right;
  margin-right: 40px;
}
#item1{
  background-position: -4px -130px;
}
#item2{
  background-position: -205px -9px;
}
#item3{
  background-position: -384px -9px;
}

/* 2.图表统计部分diyCSS */

/* 3.告警联动部分diyCSS */
#sectionPanel{
  margin-bottom: 0px;
}
#text-center{
  width: 100%;
  height: 40px;
  padding: 0 15px 0 15px;
  text-align: center;
  /* background-color: red; */
}
#securityRun, #securityStandby, #securityPerparation{
    margin-bottom: 15px;
}


/* 4.实时视频部分diyCSS */
.videoClass{
  position: absolute;
  width: 1326px;
  height: 470px;
  background-color: #eeeeee;
  z-index: 160;
  padding: 0 0 0 0;
  box-shadow: 0px 5px 5px;
  margin-bottom: 0px;
}
video, video > source{
  position: absolute;
  height: 460px;
  width: 1316px;  
  z-index: 160;
}
video{
  margin: 5px 5px 5px 5px;
  /* border: 2px solid #797979;
  border-radius: 2px; */
}
.videoBottom{
    position: absolute;
    width: 1316px;
    height: 10%;
    margin: 0px 5px 0px 5px;
    top: 90%;
    background-color: black;
    z-index: 170;
    opacity: 0.7;
}
.videoBottom > a{
  color: #797979;
}
#videoRefresh, #videoStop, #videoCamera, #videoCog{
  font-size: 40px;
}